body {
  background: black;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 18px;
}
.app {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vmin;
  height: 100vmin;
  margin-left: -50vmin;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
circle {
  -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .5));
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .5));
}

@media screen and (orientation: portrait) {
  .app {
    top: 50%;
    left: 0;
    margin-top: -50vmin;
    margin-left: 0;
  }
}

.path {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #aaa;
  font-size: 1.4rem;
  text-align: center;
  z-index: 1000;
}
.path .node {
  display: block;
}
.path .node::before {
  content: '↓';
  display: block;
  padding: 5px 0;
}
.path .node:first-child::before {
  display: none;
}
.path .node:last-child {
  color: white;
}
